body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #e99ac1;
}

h2 {
    color: #333;
    text-align: center;
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif
}
p {
    color: #555;
    text-align: center;
    margin-top: 10px;
}