.home-container {
  padding: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
  margin-top: 30px;
}

.card {
  background: var(--card);
  border-radius: 16px;
  padding: 16px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
  transition: transform 0.25s ease, box-shadow 0.25s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-6px);
  box-shadow: 0 14px 30px rgba(0,0,0,0.1);
}

.image-container {
  width: 100%;
  height: 240px;
  overflow: hidden;
  border-radius: 12px;
  background: #eee;
}
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.card h3 {
  margin-bottom: 10px;
}

.card span {
  font-size: 0.85rem;
  color: #777;
}

button {
  margin-top: 15px;
  padding: 10px 16px;
  background: #ffe2f1;
  color: #f392d6;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

button:hover {
  background-color: #f392d6;
  color: #fff;
}

h4 {
  margin-top: 8px;
  color: #555;
  margin-bottom: -5px;
}

* {
  transition: all 0.2s ease-in-out;
}
