.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  background-color: #ff69b4;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.logo {
  font-size: 1.3rem;
  font-weight: bold;
  color: white;
}

.links a {
  margin-left: 25px;
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: opacity 0.2s ease;
}

.links a:hover {
  opacity: 0.7;
}
